<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fullstack Developer Portfolio</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="container">
    <div class="intro">
      <h1>HELLO, I AM</h1>
      <h2>FULLSTACK DEVELOPER</h2>
      <a href="#" class="btn">Order the Project</a>
    </div>
    <div class="profile-picture">
      <img src="../img/benefits-img/hero-desktop.jpg" height="444" width="592" alt="Fullstack Developer">
    </div>
  </div>

  <div class="description">
    <p>
      I work with people all over the world to create
      <span class="highlight">impressive</span> and
      <span class="highlight">functional</span> websites that reflect
      each client’s unique personality.
    </p>
  </div>
</body>

</html>