<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hero</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <main>
    <div class="container">
      <section class="hero">
        <h1 class="h1">HELLO, <br>I AM</h1>
        <img class="img" src="../img/benefits-img/hero-desktop.jpg" alt="computer" width="384" height="396">
        <h1 class="h1 accent">Fullstack developer</h1>
        <button type="button" class="button-hero">
          <span class="arrow">➔</span> Order the project
        </button>
      </section>
      <section>
        <ul class="list-picture">
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Linkedin</a></li>
          <li><a href="#">GitHub</a></li>
        </ul>
      </section>
      <section class="down">
        <h2 class="h2">
          I work with people all over the world to create <span class="accent">impressive</span> and <span
            class="accent">functional</span> websites that reflect each client’s unique personality.
        </h2>
      </section>
    </div>
  </main>
  <script type="module" src=""></script>
</body>

</html>