<section class="my_projects">
  <div class="container">
    <h2>My <span class="accet-color">Projects</span></h2>
    <ul class="project-list">
      <li class="project_card">
        <picture>
          <source
            media="(max-width: 400px)"
            srcset="./img/my_projects/img1_0d5x.jpg 320w"
          />
          <source
            media="(min-width: 401px) and (max-width: 1007px)"
            srcset="./img/my_projects/img1_1x.jpg 704w"
          />
          <source
            media="(min-width: 1008px) and (max-width: 1239px)"
            srcset="./img/my_projects/img1_1d5x.jpg 1008w"
          />
          <source
            media="(min-width: 1240px)"
            srcset="./img/my_projects/img1_2x.jpg 1600w"
          />
          <img
            class="project-img-card"
            src="./img/my_projects/img1_0d5x.jpg.jpg"
            alt="Wallet webservice"
            loading="lazy"
          />
        </picture>
        <p class="project-skills">React, JavaScript, Node JS, Git</p>
        <div class="bottom-box">
          <h3 class="project-name">Wallet webservice</h3>
          <a href="https://github.com/" target="_blanc">
            <button class="visit-button">
              VISIT
              <svg width="24" height="24">
                <use
                  href="./img/my_projects/icon-icon_visit.svg#icon-icon_visit"
                ></use>
              </svg>
            </button>
          </a>
        </div>
      </li>

      <li class="project_card">
        <picture>
          <source
            media="(max-width: 400px)"
            srcset="./img/my_projects/img2_0d5x.jpg 320w"
          />
          <source
            media="(min-width: 401px) and (max-width: 1007px)"
            srcset="./img/my_projects/img2_1x.jpg 704w"
          />
          <source
            media="(min-width: 1008px) and (max-width: 1239px)"
            srcset="./img/my_projects/img2_1d5x.jpg 1008w"
          />
          <source
            media="(min-width: 1240px)"
            srcset="./img/my_projects/img2_2x.jpg 1600w"
          />
          <img
            class="project-img-card"
            src="./img/my_projects/img2_0d5x.jpg.jpg"
            alt="Green harvest"
            loading="lazy"
          />
        </picture>
        <p class="project-skills">React, JavaScript, Node JS, Git</p>
        <div class="bottom-box">
          <h3 class="project-name">Green harvest webservice</h3>
          <a href="https://github.com/" target="_blanc">
            <button class="visit-button">
              VISIT
              <svg width="24" height="24">
                <use
                  href="./img/my_projects/icon-icon_visit.svg#icon-icon_visit"
                ></use>
              </svg>
            </button>
          </a>
        </div>
      </li>

      <li class="project_card">
        <picture>
          <source
            media="(max-width: 400px)"
            srcset="./img/my_projects/img3_0d5x.jpg 320w"
          />
          <source
            media="(min-width: 401px) and (max-width: 1007px)"
            srcset="./img/my_projects/img3_1x.jpg 704w"
          />
          <source
            media="(min-width: 1008px) and (max-width: 1239px)"
            srcset="./img/my_projects/img3_1d5x.jpg 1008w"
          />
          <source
            media="(min-width: 1240px)"
            srcset="./img/my_projects/img3_2x.jpg 1600w"
          />
          <img
            class="project-img-card"
            src="./img/my_projects/img3_0d5x.jpg.jpg"
            alt="English Exellence"
            loading="lazy"
          />
        </picture>
        <p class="project-skills">React, JavaScript, Node JS, Git</p>
        <div class="bottom-box">
          <h3 class="project-name">English Exellence webservice</h3>
          <a href="https://github.com/" target="_blanc">
            <button class="visit-button">
              VISIT
              <svg width="24" height="24">
                <use
                  href="./img/my_projects/icon-icon_visit.svg#icon-icon_visit"
                ></use>
              </svg>
            </button>
          </a>
        </div>
      </li>
    </ul>
    <button class="more-projects">
      <p class="more-projects-text">LOAD MORE</p>
    </button>
  </div>
</section>

