.hero {
  margin-top: 72px;
}

@media screen and (max-width: 360px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* Загальні стилі */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333;
  overflow-x: hidden;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/* Контейнер */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Стилі для текстової частини */
.intro {
  max-width: 50%;
}

.intro h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: #000;
  line-height: 1.2;
}

.intro h2 {
  font-size: 4rem;
  font-weight: bold;
  color: #008f4c;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: bold;
  color: #008f4c;
  text-decoration: none;
  border: 2px solid #008f4c;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #008f4c;
  color: #fff;
}

/* Стилі фото */
.profile-picture img {
  max-width: 350px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-left: 30px;
}

/* Опис секції */
.description {
  text-align: left;
  padding: 30px 60px;
  line-height: 1.8;
  font-size: 1.2rem;
}

.description p {
  color: #333;
}

.description .highlight {
  color: #008f4c;
  font-weight: bold;
}

/* Декоративні елементи */
body::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -50px;
  width: 150%;
  height: 150%;
  background: radial-gradient(rgba(0, 143, 76, 0.1), transparent);
  transform: translateY(-50%);
  z-index: -1;
}